<!DOCTYPE html>
<html>

<head>
    {{>icon}}
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This application uses mapbox and weatherstack APIs to retrieve weather information. </p>
        <img class="aboutMe" src="/img/pic.JPG" />
    </div>
    {{>footer}}

</body>

</html>